/* ------------------------ */
/* Basic setup */
/* ------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #555555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/* ------------------------ */
/* Reuseable Components */
/* ------------------------ */

.row {
    max-width: 1140px;
    height:auto;
    margin: 0 auto; 
}


h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    color: #fff;
    /* make text size relative for responsive design. based on "html font-size */
    font-size: 200%;
    word-spacing: 4px;
}

h2 {
    margin-bottom: 30px;
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #f3abc4;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

section {
    padding: 80px 0;
}

/* put clearfix in parent element of floated element */
.clearfix {zoom:1}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* Changing color of SVG icon. Used Codepen*/
.filter-pink {
    -webkit-filter: invert(73%) sepia(18%) saturate(640%) hue-rotate(289deg) brightness(87%) contrast(97%);
            filter: invert(73%) sepia(18%) saturate(640%) hue-rotate(289deg) brightness(87%) contrast(97%);
}




/* Paragraphs */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin: 0 0 30px 15%;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------------------------ */
/* Links */
/* ------------------------ */
a:link,
a:active,
a:visited {
    color: #f3abc4;
    text-decoration: none;
    border-bottom: 1px solid #f3abc4;
    padding: 1px;
    transition: color 0.5s, border-bottom 0.5s;
}

a:hover {
    color: #555;
    border-bottom: 1px solid transparent;
}



/* ------------------------ */
/* Buttons */
/* ------------------------ */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.3s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    margin-right: 15px;
    background-color: #f3abc4;
    border-radius: 50px;
    border: 1px solid #f3abc4;
    color: #fff;
    
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #f3abc4;
    border-radius: 50px;
    color: #f3abc4;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #da96ae;
    border: 1px solid #da96ae;
    color: #fff;
}



/* ------------------------ */
/* Headings */
/* ------------------------ */

header {
    /* background image and adding a dark tint for text */
    background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url(./images/hero.jpg);
    background-size: cover;
    background-position: right; 
    height: 100vh;
    background-attachment: fixed;
}

/* Centering Text-box inside a div background picture */
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.hero-text-box a {
    margin-top: 20px;
}
.hero-text-box p {
    font-size: 120%;
    color: #949090;
}
.hero-text-box p span{
    font-family:'Satisfy',cursive;
    font-size: 140%;
    color: #da96ae;
}

nav p {
    color: #fff;
    display: inline-block;
    vertical-align: bottom;
}

.logo {
    font-size: 25%;
    width: auto;
    float: left;
    margin-top: 25px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}




/* ------------------------ */
/* Main-Nav */
/* ------------------------ */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: border 0.3s;
}

.main-nav li a:hover, 
.main-nav li a:active {
    border: 2px solid #da96ae
}

.icon-lg {
    display: block;
    height: 50px;
    width: auto;
    margin-bottom: 15px;
}


/* ------------------------ */
/* Sticky-Nav */
/* ------------------------ */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.979);
    box-shadow: 0 2px 2px #b3b1b1;
    z-index: 1;
}

.sticky .main-nav {
    margin-top: 15px;
}

.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
    padding: 8px;
    color: #555555;
}

.sticky .logo-black {
    display: block;
}

.sticky .logo {
    display: none;
}

/* ------------------------ */
/* Mobile-NAV */
/* ------------------------ */
.mobile-nav-icon {
    float: right;
    cursor: pointer; 
    margin-top: 15px;
    display: none;
}

.close-nav-icon {
    float: right;
    cursor: pointer; 
    margin-top: 15px;
    /* display: none; */
}

.mobile-nav-icon img,
.close-nav-icon img {
    filter: invert(100%) sepia(0%) saturate(5744%) hue-rotate(135deg) brightness(117%) contrast(101%);
}

/* ------------------------ */
/* Shower */
/* ------------------------ */
.section-shower .long-copy {
    margin-bottom: 30px;
}
.section-shower h3 span{
    font-family:'Satisfy',cursive;
    font-size: 100%;
    color: #da96ae;
    text-transform: none;
}




/* ------------------------ */
/* rose */
/* ------------------------ */
.section-rose {
    padding: 0;
}

.rose-showcase {
    list-style: none;
    width: 100%;
}

.rose-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.rose-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    /* dark background to make img darker */
    background-color: #000;
}

.rose-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    /* opacity to make img darker */
    opacity: 0.7;
}

.rose-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}


/* ------------------------ */
/* rsvp */
/* ------------------------ */

.section-rsvp {
    background-color: rgb(240, 240, 240);
}

.section-rsvp p{
    width: 50%;
    margin-bottom: 10px;
    margin-left: 25%;
}
.section-rsvp span {
    color: #da96ae;
    font-weight: 400;
}
.couple {
    width: 70%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}


/* ------------------------ */
/* Registry */
/* ------------------------ */

.section-registry .row:last-child {
    display: flex;
    justify-content: space-between;
}
.section-registry .box {
    width: 35%;
}
.section-registry a:link {
    border-bottom: none;
}
.section-registry h3 {
    font-weight: 400;
}
.section-registry img {
    width: 80%;
}
.section-registry a {
    margin-top: -20px;
}
.section-registry .col {
    border: 2px solid #da96ae;
    border-radius: 10px;
    text-align: center;
}


.registry-img {
    width: 100%;
    margin-bottom: 10px;
}



/* ------------------------ */
/* Form */
/* ------------------------ */

input[type=text],
input[type=email],
input[type=phone],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #c7c6c6
}

.section-rsvp .col .span-1-of-3 {
    text-align: right;
}

label {
    margin-right: 10px;
}

textarea {
    height:100px;
}

#news {
    margin-right: 10px;
}

select {
    font-weight: 300;
}

*:focus {
    outline:none;
}

/* ------------------------ */
/* Footer */
/* ------------------------ */
footer {
    background-color: #333;
    padding: 30px;
    font-size: 80%;
}

footer p {
    margin-top: 30px;
    text-align: center;
}

.footer-nav {
    list-style:none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}
/* 
#foot-nav {
    position: relative;
}
.footer-nav {
    position: absolute;
    top: 35px;
} */

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin:0;
}

.footer-nav a:link,
.footer-nav a:visited,
.social-links a:link,
.social-links a:visited {
    text-decoration: none;
    border: 0;
    color: #8b8a8a;
    transition: color .2s;
}

.footer-nav a:hover {
    color: rgb(224, 223, 223)
}

.social-links img {
    vertical-align: top;
}




/* ------------------------ */
/* Animations */
/* ------------------------ */
.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-4 {
    animation-duration: 1s;
}
.js--wp-1.animated, 
.js--wp-2.animated, 
.js--wp-3.animated {
    opacity:1;
}

